@import-normalize;

/* :root {
  
} */

body {
  background-color: #242C3B;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
